.content-header__title-container {
  align-items: center;
  align-content: center;
  position: relative;
  margin-right: 42px;
  max-width: 460px;
}

@media screen and (max-width: 768px) {
  .content-header__title-container {
    gap: 14px;
    margin-right: 0;
    max-width: calc(100% - 88px);
  }
}

@media screen and (max-width: 425px) {
  .content-header__title-container {
    max-width: calc(100% - 56px);
  }
}